{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">{{cats}} Category
          <small>Ada disini</small>
        </h1>

        {% if category_post %}
        {% for obj in category_post %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src={{ obj.thumbnail.url}} alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ obj.title}}</h2>
            <p class="card-text">{{ obj.description}}</p>
            <a href="{{ obj.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ obj.date|timesince}} by
            <a href="{{ obj.get_absolute_url}}">{{ obj.author}}</a>
          </div>
        </div>
        {% endfor %}
        {%else%}
          <h1 class="my-4">tidak ada blog</h1>
        {% endif %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          {% if queryset.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{{page_request_var}}={{queryset.previous_page_number}}">&larr; Older</a>
          </li>
          {% endif %}

          {% if queryset.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{{page_request_var}}={{queryset.next_page_number}}">Newer &rarr;</a>
          </li>
          {% endif %}
        </ul>

      </div>
{% endblock content %}